# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment
.env
*.env

# Database
*.db
cleaning.db

# VS Code / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Byte-compiled / Cache
*.egg-info/
.eggs/
dist/
build/